<h1>Tasks#new</h1>
<p>Find me in app/views/tasks/new.html.erb</p>

<%= form_with model: @task, class: "form" do |form| %>
	<h1>Make New Task</h1>

	<p>
		<%= form.label :name, "First Name" %>
		<%= form.text_field :name %>
	</p>
	<p>
		<%= form.label :description %>
		<%= form.text_field :description %>
	</p>
	<p>
		<%= form.label :completion_date %>
		<%= form.text_field :completion_date%>
	</p>
	<%= form.submit "Save", class: "task-button" %>
<% end %>
