<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>
<br>
<br>
<div class="card">
	<div class="card-body">
		<h1 class="card-title"><%= "#{@task.description}" %></h1>
		<p class="card-text"> 
			<%= "#{@task.completion_date}" %>
			<br>
			<%= "#{@task.name}" %>
			<br>
			<%= link_to "Edit", edit_task_path(@task.id), method: :get, class:"btn btn-warning" %>
			<br>
			<%= link_to "Delete", task_path(@task.id), method: :delete, data:{confirm: 'Are you sure'}, class:"btn btn-danger"%>

		</p>
	</div>
</div>

